* {
    box-sizing: border-box;
  }
  
  body {
    background: lightgray;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
  }
  
  /** Section **/
  .related {
    width: 50%;
    background: white;
    padding: 16px;
  }
  
  .related-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .posters-container {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  
  .poster-image {
    width: calc((30% / 3) - 4px);
    margin-right: 2px;
    margin-bottom: 2px;
    border: 2px solid transparent;
  }
  
  .poster-image:hover {
    border: 2px solid #f7e031;
  }
  
  .poster-image:nth-child(3n) {
    margin-right: 0;
  }
  
  .poster-image:nth-child(n + 4) {
    margin-bottom: 0;
  }
  
  .related-info-container {
    display: flex;
  }
  
  .related-info {
    width: 60%;
    padding-left: 16px;
  }
  
  .related-info-poster-container img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  }
  
  .related-info-poster-container {
    display: flex;
    flex-direction: column;
    width: 128px;
  }
  
  .add-to-watchlist {
    margin: 8px 0;
    background: linear-gradient(#fffbc7, #f4c50d);
    color: black;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #d5ab55;
  }
  
  .rating {
    color: #e8d907;
  }
  